
        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-track {
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }
         
        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 4px;
            border-radius: 4px;
            background: rgba(204,204,204,0.6); 
        }

        ::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(204,204,204,0.5); 
        }

        body {
            background-color: #F0EFF4;
            overflow-y:scroll;
        }

        div#resultBox.showResults {
            overflow-y: scroll;
            height: 400px;
        }

        div#resultBox.noResults {
            height: auto;
        }

        .popoverTable {
            width:100%;
            border:none;
            border-spacing: 0;
            font-size: 17px;
            margin-right: 10px;
        }

        .userSelectNone {
            -webkit-user-select: none; 
        }

        .popoverTable tr:active{
            background-color:gray;
        }

        .popoverTable tr td {
            background-color:white;
            padding:6px 10px;
        }

        .popoverTable tr td.bordersTop {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .popoverTable tr td.bordersBottom {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

	.separator {
            border-bottom:1px solid #F0EFF4;
	}

        .popoverTable tr td.settingsRight {
            padding-right: 15px;
        }

        .popoverTable tr td.blockTitle {
            background-color: #F0EFF4;
            color: #888888;
            padding:6px 10px;
            font-family: Times;
            font-size: 14px;
        }

        .popoverTable tr.searchResult {
            padding-bottom:10px;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 14px;
        }

        .popoverTable tr.searchResult td {
            width:375px;
            min-width:385px;
            padding:5px 10px 20px 10px;
        }

        #search {
            width:390px;
            outline:0;
            background-color:transparent;
            border:none;
            font-family: Times;
            font-size:17px;
            color: #777777;
        }

        #languageSwitch {
            top:8px;
            right:9px;

            border:none;
            font-size:12px;
            font-family: Helvetica;
            position:absolute;
            cursor:pointer;
        }

        #lang1{
            width:21px;
	    height:20px;
            float:left;

            border:1px solid #ADADAD;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin:0;
            padding-left:4px;
	    line-height:20px;
            color:white;
            background-color:#49BF69;
            overflow: hidden;
        }

        #lang2{
            width:21px;
	    height:20px;
            float:left;
            position:relative;
            left:-1px;

            border:1px solid #ADADAD;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            margin:0;
            padding-left:4px;
	    line-height:20px;
            color:#ADADAD;
            background-color:#EFEFEF;
            overflow: hidden;
        }

        .relative { position: relative; }

        td.clickToOpenSettings .greaterThan {
            position:absolute;
            top:9px;
            right:20px;
            color:#CCCCCC;
            display: inline;
            font-family: monospace;
            font-size: 20px;
        }

        span.switchery {
            position:relative;
            top:0;
        }

        div#mainMenu span.switchery {
            float:right;
        }

        #resultBox { 
            margin:10px 0;
        }

    .popoverTable tr.searchResult > td > div h1,
    .popoverTable tr.searchResult > td > div h2, 
    .popoverTable tr.searchResult > td > div h3
    {
            font-family: Verdana, Geneva, sans-serif;
            font-size:16px;
            font-weight: bold;
            margin: 10px 0;
    }
    
    .popoverTable tr.searchResult > td > div p {
            margin:0;
            padding:0;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 14px;
            background-color: inherit;
    }
    
    .popoverTable tr.searchResult > td > div ul {
            margin: 5px 0 5px 30px;
            padding-left:0;
    }
    
    .popoverTable tr.searchResult > td > div ul li {
            list-style-type: disc;
            padding: 3px;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 14px;
            background-color: inherit;
    }

    #annotation-more-wordnik,
    #annotation-more-wiktionary,
    #annotation-more-wikipedia,
    #annotation-attribution-wordnik,
    #annotation-attribution-wikipedia,
    #annotation-attribution-wiktionary
    {
        font-family: Verdana, Geneva, sans-serif;
    	font-size: 12px;
    	line-height: 1.3;
    	background-color: inherit;
    }

    #annotation-attribution-wordnik,
    #annotation-attribution-wikipedia,
    #annotation-attribution-wiktionary
    {
    	width: 375px;
    	float: left;
    	margin-top: 10px;
    	margin-right: 9px;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
    	background-color: inherit;
        direction: ltr;
    }

    #annotation-attribution-wordnik a,
    #annotation-attribution-wikipedia a,
    #annotation-attribution-wiktionary a
    {
    	color: #004778;
    	background-color: inherit;
        font-family: Verdana, Geneva, sans-serif;
    	font-size: 12px;
        font-weight: normal;
    }
 
    #resultWiktionary {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
    }
    
    #resultWiktionary > dl {
        margin:0 0 5px 0;
        padding:0;
    }
    
    #resultWiktionary > dl dt {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
    }
    
    #resultWiktionary > dl dd {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
        margin: 0 5px 10px 5px;
        padding:0;
    }
    
    #resultWiktionary > ol {
        margin:0 5px 0 5px;
        padding:0;
    }
    
    #resultWiktionary > ol li {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
        list-style-type: decimal;
        margin: 0 0 10px 24px;
        padding: 0;
    }
    
    #resultWiktionary > ol li dl dd {
        margin:5px 0 0 0;
        padding: 0;
    }
    
    #resultWiktionary > ol li ul {
        margin:5px 0 0 0;
        padding: 0;
    }
    
    #resultWiktionary > ol li ul li {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
        list-style-type: disc;
    }

    /* Settings */

    div#settingsMenu {
        display:none;
        /*width: 725px;*/
        height:600px;
        overflow-y:scroll;
        position: relative;

        font-size: 15px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    div#settingsMenu hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(200, 200, 200, 0.7), rgba(150, 150, 150, 1), rgba(204, 204, 204, 1));
        width:657px;
    }

    .header {
        font-size:20px;
        font-weight:bold;
        margin: 20px 0 12px 37px;
        position: relative;
    }

    .header #back {
        color: #4682B4;
        cursor:pointer;
        position: absolute;
        left:-20px;
    }

    .header #back .lessThan {
        position:absolute;
        bottom:-4px;
        font-family: monospace;
        font-size: 30px;
    }

    .header #back .mainMenu {
        margin-left:27px;
    }

    .header .title { 
        text-align: center;
    }

    table.axonConfiguration {
        background-color: #F0EFF4;
        border-radius: 5px;
        width: 100%;
        padding: 7px 20px 20px 20px;
        margin:0 0 20px 0;
        border-spacing: 0;
    }

    .axonConfiguration tr {
        text-align:left;
        width: 150px;
    }


    .axonConfiguration tr td.blockTitle {
        font-size: 14px;
        background-color: #F0EFF4;
        color: #888888;
    }

    .axonConfiguration tr td {
        background-color: #FEFFFF;
        padding:5px 0 5px 15px;
        margin-left:10px;
        text-align:left;
        white-space:nowrap;
        vertical-align:top;
    }

    .axonConfiguration tr td.top          { padding-top:10px; }
    .axonConfiguration tr td.topLeft      { border-top-left-radius: 5px;     padding-top:10px; }
    .axonConfiguration tr td.topRight     { border-top-right-radius: 5px;    padding-top:10px; }
    .axonConfiguration tr td.bottomLeft   { border-bottom-left-radius: 5px;  padding-bottom:10px; }
    .axonConfiguration tr td.bottomRight  { border-bottom-right-radius: 5px; padding-bottom:10px; }
    .axonConfiguration tr.oneRow td       { padding: 15px 0 15px 15px; }
    .axonConfiguration tr.oneRow.onoff td.topRight { padding: 12px 0 10px 15px; }

    .axonConfiguration tr td table tbody {
        text-align:left;
        vertical-align:top;
        white-space:nowrap;
        padding:0;

    }

    .axonConfiguration tr td.separator {
        padding:1px 0 0 0;
        background-color: #F0EFF4;
    }

    .axonConfiguration tr td.blockSeparator {
        padding-top:20px;
        background-color: #F0EFF4;
    }

    .axonConfiguration tr td.optionSeparator { 
        border-top:1px solid #F9FAFA;
    }

    .axonConfiguration tr td:nth-child(1) { 
        width:280px; 
        padding-right:10px;
    }

    .axonConfiguration tr td:nth-child(2) { 
        width:445px;
        border-left:1px solid #F9FAFA; 
    }

    .axonConfiguration select {
        width:300px;
    }

    .axonConfiguration .range-handle {
        top:-9px;
        width:20px;
        height:20px;
    }

    div.sliderWrapper {
        width:273px;
        margin-left:12px;
        margin-top:9px;
        float:left;
    }

    div.sliderValue {
        float:left;
        width:15px;
    }

    .disableUserSelect {
        -webkit-user-select: none; 
    }

    #axonMaximumWaitTimeLabel {
        margin-left:5px;
        border:1px solid white;
    }

